<div class="login-cover">
    <div class="login-container mx-5 p-5 my-5">
        <div class="col-lg-4">
            <div class="login-header">
                <div class="brand">
                    <div class="d-flex align-items-center" style="margin-bottom: 10px;">
                        <span class="logo"></span>
                        <b style="color: white;">
                            Gravity
                        </b>&nbsp;Energy
                    </div>
                    <small style="color: rgb(253, 253, 253); margin-top: 5px;">
                        Sign into your account
                    </small>
                </div>
                <div class="login-content">
                    <form>
                        <div class="form-floating mb-4 mt-2">

                            <input type="text" placeholder="Email Address" class="form-control"
                                style="font-size: 13px;height: 45px!important;" id="emailAddress">
                            <label for="emailAddress" class="d-flex align-items-center text-gray"
                                style="font-size: 13px;">Email Address</label>
                        </div>
                        <div class="form-floating mb-4 ">
                            <input type="password" placeholder="*******" class="form-control"
                                style="font-size: 13px;height: 45px!important;">
                            <label for="emailAddress" class="d-flex align-items-center text-gray"
                                style="font-size: 13px;">Password</label>
                        </div>
                        <div class="form-row mb-4 col-lg-5 ">
                            <select class="form-select"  >
                                <option>Select type</option>
                                <option>Admin</option>
                                <option>User</option>
                            </select>
                        </div>
                        <div class="form-row" style="display:flex;">
                            <input type="checkbox" class="form-check-input"> &nbsp;<label
                                style="color:white;font-size: 16px;flex-grow: 1;"> Remember Me</label>
                                <span class="text">  <a href="#" style="color: white; text-decoration: none;font-size: 16px;">Forgot password?</a></span>
                        </div>
                        <div class="form-row my-3">
                            <button type="button" class="btn1">Login</button>
                        </div>
                        
                        <div class="text-white mt-2">
                            Not a member yet? Click <a href="/registerPage">here</a>
                            to register
                        </div>
                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>