

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EVSparks</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active current" ><a routerLink="/homepage" style="border-radius: 8px; font-size: 8px; font-size: 12px;" >Home</a></li>    
    </ul>
    <div class="col-sm-9">
    </div>
    
    <ul class="nav navbar-nav">
   		<li routerLinkActive="active current">
      	<a routerLink="/login" style="border-radius: 8px; font-size: 12px;">Register/SignUp</a>
      </li>
    </ul>
    </div>
   
  
</nav>




    
  