/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

